@model LoginVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/stylelogin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script defer src="~/Scripts/scriptlogin.js"></script>
    <title>OP Curiosidade | Login</title>
</head>
<body>
    <main class="login">
        <div class="login__container">
            <h1 class="login__title">
            <img class="onion" src="~/Content/onion.png" />OP Curiosidade
            </h1>

            <form method="post" name="formLogin" class="login__form">

                <input name="Email"
                       id="email"
                       class="login__input"
                       type="email"
                       placeholder="e-mail">

                <span class="login__input-border"></span>

                <input id="senha" name="Senha" class="login__input" type="password" placeholder="senha">

                <span class="login__input-border"></span>

                <div id="msgErro"></div>

                <div class="login__reset">
                    @Html.CheckBoxFor(model => model.PermanecerLogado, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.PermanecerLogado)
                </div>

                <input class="login__submit" type="submit" value="Login">

                <a href="#" class="user__reg">Cadastrar</a>

                <a href="#" class="login__reset">Esqueci a senha</a>
            </form>
        </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>